@inject NavigationManager _navigationManager
@inject SignOutSessionStateManager _signOutManager

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Med Dist</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="comprar">Comprar</a>
                <AuthorizeView>
                    <Authorized>
                        <a class="nav-link" href="orcamentos">Orçamentos</a>
                        <a class="nav-link" href="notas-fiscais">Notas Fiscais</a>
                        <a class="nav-link" href="boletos">Boletos</a>
                    </Authorized>
                    <NotAuthorized>
                        <a class="nav-link disabled" href="#">Orçamentos</a>
                        <a class="nav-link disabled" href="#">Notas Fiscais</a>
                        <a class="nav-link disabled" href="#">Boletos</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
        <form class="d-flex" role="search">
            <button type="button" class="btn btn-secondary">
                (@(NumberItemsCart)) 
                <svg style="padding-bottom:4px;" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                </svg>
                Meu Carrinho
            </button>
        </form>
        <AuthorizeView>
	        <NotAuthorized>	
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">	
                        <a href="#" @onclick="BeginSignIn" role="button" class="p-2">
				            Entrar
			            </a>
                    </li>
                    <li>
                        <a href="#" @onclick="BeginSignIn" role="button" class="p-2">
                            Registrar
                        </a>
                    </li>
                </ul>
	        </NotAuthorized>
            <Authorized>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">	
                        <a href="#" @onclick="BeginSignOut" role="button" class="p-2">
				            Sair
			            </a>
                    </li>
                </ul>
            </Authorized>
        </AuthorizeView>
    </div>
</nav>

@code {
    public int NumberItemsCart { get; set; } = 0;

    private void BeginSignIn()
    {
        _navigationManager.NavigateTo("authentication/login");
    }

    private async Task BeginSignOut()
    {
        await _signOutManager.SetSignOutState();
        _navigationManager.NavigateTo("authentication/logout");
    }
}
